<div id="<%= dom_id servicio %>">
  <p>
    <strong>Nombreservicio:</strong>
    <%= servicio.nombreServicio %>
  </p>

  <p>
    <strong>Descripcionservicio:</strong>
    <%= servicio.descripcionServicio %>
  </p>

</div>
