<div id="<%= dom_id veterinario %>">
  <p>
    <strong>Nombre:</strong>
    <%= veterinario.nombre %>
  </p>

  <p>
    <strong>Apellidos:</strong>
    <%= veterinario.apellidos %>
  </p>

  <p>
    <strong>Especialidad:</strong>
    <%= veterinario.especialidad %>
  </p>

</div>
