<h1>Editing estado citum</h1>

<%= render "form", estado_citum: @estado_citum %>

<br>

<div>
  <%= link_to "Show this estado citum", @estado_citum %> |
  <%= link_to "Back to estado cita", estado_cita_path %>
</div>
